<form [formGroup]="form">
  <div>
    <label for="type">Select type:</label>
    <app-filter-custom-select id="type" [itemList]="types" formControlName="type"></app-filter-custom-select>
  </div>
  <div>
    <label for="genre">Select Genre:</label>
    <app-filter-custom-select id="genre" [itemList]="gengres" formControlName="genre"></app-filter-custom-select>
  </div>
  <div>
    <label for="country">Select Country:</label>
    <app-filter-custom-select id="country" [itemList]="countries" formControlName="country"></app-filter-custom-select>
  </div>
  <div>
    <label for="years">Select Year:</label>
    <app-filter-custom-select id="years" [itemList]="years" formControlName="year"></app-filter-custom-select>
  </div>
  <button (click)="handleClick()" class="search-button">Search</button>
</form>
