<div class="wrapper">
  <div class="carousel" appHorizontalCarousel>
    <div class="carousel-wrapper">
      <div class="carousel-content">
        <app-main-item>1</app-main-item>
        <app-main-item>2</app-main-item>
        <app-main-item>3</app-main-item>
        <app-main-item>4</app-main-item>
        <app-main-item>5</app-main-item>
        <app-main-item>6</app-main-item>
        <app-main-item>7</app-main-item>
        <app-main-item>8</app-main-item>
        <app-main-item>9</app-main-item>
        <app-main-item>10</app-main-item>
        <app-main-item>11</app-main-item>
        <app-main-item>12</app-main-item>
        <app-main-item>13</app-main-item>
        <app-main-item>14</app-main-item>
        <app-main-item>15</app-main-item>
        <app-main-item>16</app-main-item>
        <app-main-item>17</app-main-item>
        <app-main-item>18</app-main-item>
        <app-main-item>19</app-main-item>
        <app-main-item>20</app-main-item>
        <app-main-item>21</app-main-item>
        <app-main-item>22</app-main-item>
      </div>
    </div>
    <button class="prev"><</button>
    <button class="next">></button>
  </div>
  <div class="carousel" appHorizontalCarousel>
    <div class="carousel-wrapper">
      <div class="carousel-content">
        <app-main-item>1</app-main-item>
        <app-main-item>2</app-main-item>
        <app-main-item>3</app-main-item>
        <app-main-item>4</app-main-item>
        <app-main-item>5</app-main-item>
        <app-main-item>6</app-main-item>
        <app-main-item>7</app-main-item>
        <app-main-item>8</app-main-item>
        <app-main-item>9</app-main-item>
        <app-main-item>10</app-main-item>
        <app-main-item>11</app-main-item>
        <app-main-item>12</app-main-item>
        <app-main-item>13</app-main-item>
        <app-main-item>14</app-main-item>
        <app-main-item>15</app-main-item>
        <app-main-item>16</app-main-item>
        <app-main-item>17</app-main-item>
        <app-main-item>18</app-main-item>
        <app-main-item>19</app-main-item>
        <app-main-item>20</app-main-item>
        <app-main-item>21</app-main-item>
        <app-main-item>22</app-main-item>
      </div>
    </div>
    <button class="prev"><</button>
    <button class="next">></button>
  </div>
</div>
