<div class="wrapper">
  <div class="carousel" appHorizontalCarousel *ngIf="moviesSeriesMixList['movies']; else loading">
    <div class="carousel-wrapper">
      <div class="carousel-content">
        <app-main-item *ngFor="let item of moviesSeriesMixList['movies']" [movie]="item"></app-main-item>
      </div>
    </div>
    <button class="prev"><</button>
    <button class="next">></button>
  </div>
  <div class="carousel" appHorizontalCarousel *ngIf="moviesSeriesMixList['series']; else loading">
    <div class="carousel-wrapper">
      <div class="carousel-content">
        <app-main-item *ngFor="let item of moviesSeriesMixList['series']" [movie]="item"></app-main-item>
      </div>
    </div>
    <button class="prev"><</button>
    <button class="next">></button>
  </div>
</div>

<ng-template #loading>
  loading
</ng-template>
