.wrapper {
  display: inline-block;
  position: relative;
}

.list-container {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}


.list-item {
  user-select: none;
  background: white;
  color: black;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
}

.list-item:hover {
  background: grey;
}

.list-input {
  user-select: none;
  border-radius: 5px;
  width: 200px;
  height: 25px;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
}


.list-input:focus {
  outline: none;
}
